{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('mystyle.css') }}" />
{% endblock %}

{% block body %}
    {% block navbar %}
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Project name</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('_home_route') }}">Home</a></li>
                        <li><a href="{{ path('_show_route') }}">Show Category</a></li>
                        <li><a href="{{ path('_show_description_route') }}">Show Description</a></li>

                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    {% endblock %}
    {% block content %}{% endblock %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('myjs.js') }}"></script>
{% endblock %}